.btn {
	background: 0 none;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: $transition;

	&--primary {
		background-color: $c_primary;
		border-radius: 5px;
		color: #fff;
		font-family: $font_roboto;
		font-size: 20px;
		line-height: 1;
		padding: 18px 24px;

		&:hover {
			background-color: #fff;
			color: $c_primary;
		}
	}

	&--question {
		border-radius: 50%;
		border: 1px solid $c_border;
		color: $c_border;
		font-size: 18px;
		height: 24px;
		width: 24px;

		&::after {
			content: "?";
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&--toggle {
		background-color: rgba(#fff, .05);
		border-radius: 5px;
		height: 40px;
		width: 40px;

		&::after,
		&::before {
			background-color: #fff;
			content: "";
			height: 1px;
			position: absolute;
			top: 20px;
			width: 12px;
		}

		&::after {
			left: 9px;
			transform: rotate(40deg);
		}

		&::before {
			left: 18px;
			transform: rotate(-40deg);
		}

		&.active {
			transform: rotate(180deg);
		}
	}
}