body {
	background-color: $c_bg;
	font-family: $font_main;
}

button {
	cursor: pointer;
}

h2 {
	@media #{$mobile} {
		font-size: 24px;
	}
}

h3 {
	@media #{$mobile} {
		font-size: 20px;
	}
}

hr {
	background-color: rgba(#fff, .1);
	border: 0 none;
	height: 1px;
	margin: 50px auto;
	width: 100%;
}

.content {
	background-color: $c_bg;
	margin: 762px 0 0;
	padding: 0 0 100px;
	position: relative;
	z-index: 3;
}

.config_title {
	color: #fff;
	padding: 80px 0 0;
}

.logo {
	left: 50%;
	position: absolute;
	top: 30px;
	transform: translateX(-50%);
	z-index: 3;
}

// ui custom [START]
.ui-slider {
	.ui-slider-handle {
		border-radius: 50%;
		border: 10px solid $c_hover;
		height: 40px;
		top: -16px;
		width: 40px;

		&.ui-state-active {
			background-color: $c_primary;
		}

		&.ui-state-focus {
			background-color: $c_primary;
			border: 10px solid $c_hover;
		}
	}
}

.ui-slider-horizontal {
	height: 10px;
}

.ui-slider-range {
	background-color: $c_hover;
}

.ui-widget {
	&.ui-widget-content {
		background-color: rgba(#fff, .05);
		border: 0 none;
	}
}

// ui custom [END]


.wrapper {
	margin: 0 auto;
	max-width: 907px;
	padding: 0 30px;
	width: 100%;

	@media #{$mobile} {
		padding: 0 10px;
	}
}