.frequency {
	padding: 20px 0 80px;
}

.frequency_input {
	left: -9999px;
	position: absolute;
}

.frequency_slider {
	margin: 51px 32px 50px 8px;
}

.frequency_value {
	color: #fff;
	display: inline-block;
	font-family: $font_roboto;
	font-size: 20px;
	letter-spacing: 0;
	line-height: 1.25;
	padding: 22px 0 0;
	position: absolute;
	white-space: nowrap;

	&--from {
		left: 30px;
		top: 174px;
	}

	&--to {
		left: 757px;
		top: 174px;
	}

	span {
		color: $c_border;
	}
}