.options_checkbox {
	color: $c_border;
	display: flex;
	flex-direction: column;
	font-family: $font_roboto;
	font-size: 20px;
	line-height: 1.25;

	input {
		left: -9999px;
		position: absolute;

		&:checked,
		&:hover {
			+ .options_checkbox {
				&__box {
					border-color: $c_hover;
				}
			}
		}

		&:checked {
			+ .options_checkbox {
				&__box {
					background: url(i/icons/checkbox.svg) center no-repeat transparent scroll;
				}
			}
		}
	}

	&__box {
		border-radius: 4px;
		border: 2px solid rgba(#fff, .2);
		display: block;
		height: 24px;
		margin: 0 15px 0 0;
		transition: $transition;
		width: 24px;
	}

	&__desc {
	}

	&__item {
		align-items: center;
		cursor: pointer;
		display: flex;
		margin: 0 0 20px;

		&:last-child {
			margin: 0;
		}
	}
}

.options_content {
	margin: 0 -30px;
	max-height: 0;
	overflow: hidden;
	padding: 0 30px;
	position: relative;
	transition: all .5s ease-in-out;
}

.options_list {
	display: flex;
	flex-wrap: wrap;
	font-family: $font_roboto;
	gap: 18px;
	justify-content: flex-start;

	input {
		left: -9999px;
		position: absolute;

		&:checked {
			+ .options_list {
				&__content {
					border: 2px solid $c_hover;
					box-shadow: 0 0 30px rgba($c_hover, 0.3);
					backdrop-filter: blur(4.5px);
				}
			}
		}
	}

	&__content {
		align-items: center;
		backdrop-filter: blur(4.5px);
		background: rgba(#fff, .05);
		border-radius: 8px;
		border: 1px solid rgba(#fff, .2);
		display: flex;
		height: 60px;
		padding: 10px;
		transition: $transition;
		width: 270px;

		&:hover {
			border-color: $c_hover;
		}
	}

	&__desc {
		color: #fff;
		font-size: 16px;
		line-height: 1.4;
	}

	&__img {
		background-color: rgba(#fff, 0.05);
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 5px;
		height: 40px;
		margin: 0 14px 0 0;
		width: 40px;
	}

	&__item {
		cursor: pointer;
	}
}

.options_radio {
	color: $c_border;
	display: flex;
	flex-direction: column;
	font-family: $font_roboto;
	font-size: 20px;
	line-height: 1.25;

	input {
		left: -9999px;
		position: absolute;

		&:checked,
		&:hover {
			+ .options_radio {
				&__box {
					border-color: $c_hover;
				}
			}
		}

		&:checked {
			+ .options_radio {
				&__box {
					&::before {
						opacity: 1;
					}
				}
			}
		}
	}

	&__box {
		border-radius: 50%;
		border: 2px solid rgba(#fff, .2);
		display: block;
		height: 24px;
		margin: 0 15px 0 0;
		position: relative;
		transition: $transition;
		width: 24px;

		&::before {
			background-color: $c_hover;
			border-radius: 50%;
			content: "";
			display: block;
			height: 12px;
			left: 50%;
			opacity: 0;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: $transition;
			width: 12px;
		}
	}

	&__desc {
	}

	&__item {
		align-items: center;
		cursor: pointer;
		display: flex;
		margin: 0 0 20px;

		&:last-child {
			margin: 0;
		}
	}
}

.options_toggle {
	align-items: center;
	display: flex;
	flex-wrap: wrap;

	&__title {
		cursor: pointer;
		margin: 0 20px;
	}
}

.options_wrapper {
	&.active {
		.options_content {
			max-height: 1000px;
			padding-top: 50px;
		}

		.options_toggle {
			.btn--toggle {
				transform: rotate(180deg);
			}
		}
	}
}